<div class="em-c-page-header ">
  <h1 class="em-c-page-header__title">Delete confirmation </h1>
  <p class="em-c-page-header__desc">Would you like to delete?</p>
</div>
<div class="em-l--two-column">
  <div class="em-l__main">
    <div class="em-l-linelength-container">
      <form action="#" method="post" class="em-js-form" validate>
        <fieldset class="em-c-fieldset">
          <!-- <legend class="em-c-fieldset__legend">Legend</legend> -->

          <div class="em-c-btn-group ">
            <button class="em-c-btn em-c-btn--primary">
              <span class="em-c-btn__text" (click)="delete()">Delete</span>
            </button>
            <a [routerLink]="'../../'" class="em-c-btn em-c-btn--secondary">
              <span class="em-c-btn__text">Cancel</span>
            </a>
          </div>
        </fieldset>
      </form>
    </div>
  </div>
  <div class="em-l__secondary">
  </div>
</div>
