<div class="em-c-page-header em-c-page-header--small">
  <h1 class="em-c-page-header__title">
    <a [routerLink]="'/countries/'">Device</a>
    <a [routerLink]="'/categories/' + categoryId + '/subcategories/'" *ngIf="category">{{category.name}}</a>
    <a class="active" *ngIf="subcategory">{{subcategory.name}}</a>
  </h1>
</div>
<div class="em-c-table-object ">
  <div class="em-c-table-object__body">
    <div class="em-c-table-object__body-inner">
      <table class="em-c-table ">
        <thead class="em-c-table__header">
          <tr class="em-c-table__header-row">
            <th scope="col" class="em-c-table__header-cell ">Model name</th>
            <th scope="col" class="em-c-table__header-cell ">Images</th>
            <th scope="col" class="em-c-table__header-cell ">Default Duration</th>
            <th scope="col" class="em-c-table__header-cell ">Units</th>
            <th scope="col" class="em-c-table__header-cell ">Action</th>
          </tr>
        </thead>
        <tbody class="em-c-table__body ">
          <tr class="em-c-table__row " *ngFor="let item of items">
            <td class="em-c-table__cell " colspan="">
              {{item.name}}
            </td>
            <td class="em-c-table__cell " colspan="">
                {{item.images.length}} images
              </td>
              <td class="em-c-table__cell " colspan="">
                  {{item.defaultDuration | amDuration:'seconds'}}
                </td>
            <td class="em-c-table__cell " colspan="">
              <a [routerLink]="item.id + '/units'">{{item.unitCount}} units</a>
            </td>
            <td class="em-c-table__cell " colspan="">
              <a [routerLink]="item.id + '/edit'"><strong>Edit</strong></a>
              <a [routerLink]="item.id + '/delete'"
                [queryParams]="{endpoint: '/items/' + item.id, next: currentLocation()}"><strong>Delete</strong></a>
            </td>
          </tr>
        </tbody>
        <tfoot class="em-c-table__footer">
          <tr class="em-c-table__footer-row">
          </tr>
        </tfoot>
      </table>
    </div>
  </div>
  <div class="em-c-table-object__footer">
      <div class="em-c-toolbar ">
        <div class="em-c-toolbar__item">
          <a [routerLink]="'add'">Add</a>
        </div>
      </div>
    </div>
</div>
