.search-input {
  margin-bottom: 2rem;
  input {
    width: 100%;
    padding: 0.5rem;
    border: 1px solid lightgrey;
    font-family: EMPrint;
    font-size: 1rem;
    color: dimgrey;
    box-sizing: border-box;
  }
}
.model-count {
  font-size: 0.8rem;
  color: dimgrey;
  margin-bottom: 0.5rem;
}
.model-list-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 1rem;
  .model-container {
    display: flex;
    .model-image {
      border-radius: 10px;
      background-color: #e4e4e4;
      width: 75px;
      height: 75px;
      flex: 0 0 auto;
      background-size: cover;
      background-position: center center;

    }
    .model-text {
      margin-left: 0.75rem;
      .model-name {
        font-size: 1rem;
        color: dimgray;
        line-height: 1.15rem;
        font-weight: 500;
      }
      .model-category {
        color: dimgray;
        font-size: 0.9rem;
        line-height: 1.15rem;
      }
      .model-duration {
        color: grey;
        font-size: 0.9rem;
        line-height: 1.15rem;
      }
      .model-availability {
        font-size: 0.9rem;
        font-weight: 500;
        margin-top: 0.25rem;
        color: #4CAF50;
        line-height: 1.15rem;
      }
    }
  }
}
