<div class="search-input">
  <input type="text" [(ngModel)]="queryParams.keyword" (keyup)="changeParams()">
</div>

<app-item-filter></app-item-filter>

<div class="model-count" *ngIf="catalog">Showing {{catalog.total}} results</div>
<div class="model-list-container" *ngIf="catalog">
  <div class="model-container" *ngFor="let item of catalog.items" [ngClass]="{'unavailable': item.available == 0}">
    <div class="model-image" [style.background-image]="'url(http://http://192.168.1.34:8080/api/images/' + item.item.images[0] + ')'"></div>
    <div class="model-text">
      <a class="model-name" routerLink="/item/{{item.item.id}}" queryParamsHandling="preserve">{{item.item.name}}</a>
      <div class="model-category">{{item.category.name}} / {{item.subcategory.name}}</div>
      <div class="model-duration">{{item.item.defaultDuration | amDuration:'seconds'}} </div>
      <div class="model-availability" [ngClass]="'available-' + item.available">{{item.available}} units available</div>
    </div>
  </div>
</div>
