<div class="container">
  <div class="header">
    <div class="header-left">
        <div class="header-icon"></div>
        <div class="header-text">SMARTLOCKER</div>
    
    </div>
    <div class="header-right">
        <div class="identity-text">THAILAND</div>
        <div class="identity-text">HARINDHORN BUILDING</div>
        <div class="identity-text">80017</div>
    
    </div>
  </div>
  <!-- <div class="main" [routerLink]="'/browse-option'">
    <div class="main-text">Tap here to start browsing items</div>
  </div> -->
  <div class="main" (keydown.enter)="onKeypress($event)">
    <div class="main-text">Scan card to start browsing items</div>
    <!-- <div><input type="password" ></div> -->
  </div>
</div>