<div class="option-page">
  <div class="topic-container">
    <div class="topic-title">Input Device</div>
    <div class="topic-sub">What is the best type description of the item?</div>
  </div>
  <div class="option-wrapper">
    <div class="option-opacity-gradient"></div>
    <div class="option-container">
      <div class="option">
        <div class="option-text">
          <div class="text-main">Mouse</div>
        </div>
      </div>
      <div class="option">
        <div class="option-text">
          <div class="text-main">Keyboard</div>
        </div>
      </div>
    </div>
  </div>
</div>