<div class="option-page">
  <div class="topic-container">
    <div class="topic-title">{{category.name}}</div>
    <div class="topic-sub">What is the best type description of the item?</div>
  </div>
  <div class="option-wrapper">
    <div class="option-opacity-gradient"></div>
    <div class="option-container">
      <div class="option" *ngFor="let subcategory of subcategories">
        <div class="option-text" >
          <!-- <div class="text-main" (click)="routeToSubCat(category.id)">{{subcategory.name}}</div> -->
          <div class="text-main">{{subcategory.name}}</div>
          
        </div>
        
      </div>
      <div class="option">
        <div class="option-text" >
          <div class="text-main" id = "body">Loading Please wait.</div>
        </div>
        
      </div>
      
    </div>
  </div>
</div>