<h2>My Watch List <span *ngIf="watches">({{watches.total}})</span></h2>
<div class="item-list-container" *ngIf="watches">
  <div class="item-container" *ngFor="let watch of watches.items">
    <div class="item-image" [style.background-image]="'url(http://207.46.236.46/api/images/' + watch.item.images[0] + ')'"></div>
    <div class="item-text">
      <a class="item-name" routerLink="/item/{{watch.item.id}}">{{watch.item.name}}</a>
      <div class="item-category">{{watch.category.name | uppercase}} / {{watch.subcategory.name | uppercase}}</div>
      <div class="item-location">{{watch.site.name}} / {{watch.container.name}}</div>
      <div class="item-due">{{watch.available}} units available</div>
    </div>
  </div>
</div>
