<div class="item-availability" *ngIf="availability">
  <div class="availability-header">
    <div class="availability-title">Availability</div>
    <div class="availability-country">
      <select name="" id="" [(ngModel)]="activeCountry" (change)="changeParams()">
        <option [ngValue]="null">All</option>
        <ng-container *ngIf="locations">
          <option [ngValue]="country" *ngFor="let country of locations.countries">{{country.country.name}}</option>
        </ng-container>
      </select>
    </div>
    <div class="availability-site" [ngClass]="{'disabled': activeCountry == null}">
      <select name="" id="" [(ngModel)]="activeSite" (change)="changeParams()">
        <option [ngValue]="null">All</option>
        <ng-container *ngIf="activeCountry">
          <option [ngValue]="site" *ngFor="let site of activeCountry.sites">{{site.site.name}}</option>
        </ng-container>
      </select>
    </div>
  </div>
  <div class="availability-list">
          <div class="list-container" *ngFor="let container of filteredAvailability">
            <div class="container-text">
              <div class="container-name">{{container.container.name}}</div>
              <div class="container-location">{{container.country.name}} / {{container.site.name}}</div>
            </div>
            <div class="container-availability">
              <div class="availability-number">{{container.available}}/{{container.total}}</div>
              <button class="availability-action" (click)="notifyMe(container)" *ngIf="container.watch == null">Notify me</button>
              <button class="availability-action" (click)="unnotifyMe(container)" *ngIf="container.watch != null">Unnotify me</button>
            </div>
    </div>
  </div>
</div>
