<div class="container">
  <div class="topic">How do you want to browse?</div>
  <hr>
  <div class="option-container">
    <div class="option" [style.width.px]="option.offsetHeight" #option>
      <div class="option-text">
        <div class="text-sub">BY</div>
        <div class="text-main">TYPE</div>
      </div>
    </div>
    <div class="option" [style.width.px]="option.offsetHeight" #option>
      <div class="option-text">
        <div class="text-sub">BY</div>
        <div class="text-main">LOCKER</div>
      </div>
    </div>
  </div>
</div>