<div class="container">
  <div class="item-image-list">
    <div class="item-image"></div>
    <div class="item-image"></div>
  </div>
  <div class="item-image-viewer"></div>
  <div class="item-detail">
    <div class="detail-group">
      <div class="detail-title">MODEL</div>
      <div class="detail-body">Logitech M280</div>
    </div>
    <div class="detail-group">
        <div class="detail-title">CATEGORY</div>
        <div class="detail-body">Input Device</div>
      </div>
    <div class="detail-group">
      <div class="detail-title">SUBCATEGORY</div>
      <div class="detail-body">Mouse</div>
    </div>
    <div class="detail-group">
        <div class="detail-title">DURATION</div>
        <div class="detail-body">14 days</div>
      </div>
  </div>
  <div class="item-availability"></div>
</div>
