<div class="em-c-page-header em-c-page-header--small">
    <h1 class="em-c-page-header__title">
        <a [routerLink]="'/countries/'">Storage</a>
        <a [routerLink]="'/countries/' + countryId + '/sites/'" *ngIf="country">{{country.name}}</a>
        <a class="active"  *ngIf="site">{{site.name}}</a>
     </h1>
  </div>
  <div class="em-c-table-object ">
    <div class="em-c-table-object__body">
      <div class="em-c-table-object__body-inner">
        <table class="em-c-table ">
          <thead class="em-c-table__header">
            <tr class="em-c-table__header-row">
              <th scope="col" class="em-c-table__header-cell ">Container Name</th>
              <th scope="col" class="em-c-table__header-cell ">Lockers</th>
              <th scope="col" class="em-c-table__header-cell ">Action</th>
            </tr>
          </thead>
          <tbody class="em-c-table__body ">
            <tr class="em-c-table__row " *ngFor="let container of containers">
              <td class="em-c-table__cell " colspan="">
                {{container.name}}
              </td>
              <td class="em-c-table__cell " colspan="">
                <a [routerLink]="container.id + '/lockers'">{{container.lockerCount}} lockers</a>
              </td>
              <td class="em-c-table__cell " colspan="">
                <a [routerLink]="container.id + '/edit'"><strong>Edit</strong></a>
                <a [routerLink]="container.id + '/delete'" [queryParams]="{endpoint: '/containers/' + container.id, next: currentLocation()}"><strong>Delete</strong></a>

              </td>
            </tr>
          </tbody>
          <tfoot class="em-c-table__footer">
            <tr class="em-c-table__footer-row">
            </tr>
          </tfoot>
        </table>
      </div>
    </div>
    <div class="em-c-table-object__footer">
        <div class="em-c-toolbar ">
          <div class="em-c-toolbar__item">
            <a [routerLink]="'add'">Add</a>
          </div>
        </div>
      </div>
  </div>
