img {
    border-radius: 10px;
    //   background-color: #e4e4e4;
      width: 75px;
      height: 75px;
      flex: 0 0 auto;
      background-size: cover;
      background-position: center center;
      margin-right: 10px;
  }
  .topic-container{
      flex :0 0 40%;
  }