<div class="em-c-page-header em-c-page-header--small">
    <h1 class="em-c-page-header__title">
        <a [routerLink]="'/countries/'">Storage</a>
        <a [routerLink]="'/countries/' + countryId + '/sites/'" *ngIf="country">{{country.name}}</a>
        <a [routerLink]="'/countries/' + countryId + '/sites/' + siteId + '/containers'"  *ngIf="site">{{site.name}}</a>
        <a class="active" *ngIf="container">{{container.name}}</a>
 </h1>
  </div>
  <div class="em-c-table-object ">
    <div class="em-c-table-object__body">
      <div class="em-c-table-object__body-inner">
        <table class="em-c-table ">
          <thead class="em-c-table__header">
            <tr class="em-c-table__header-row">
              <th scope="col" class="em-c-table__header-cell ">Locker Name</th>
              <th scope="col" class="em-c-table__header-cell ">Units</th>
              <th scope="col" class="em-c-table__header-cell ">Action</th>
            </tr>
          </thead>
          <tbody class="em-c-table__body ">
            <tr class="em-c-table__row " *ngFor="let locker of lockers">
              <td class="em-c-table__cell " colspan="">
                {{locker.name}}
              </td>
              <td class="em-c-table__cell " colspan="">
                <a [routerLink]="locker.id + '/units'">{{locker.unitCount}} units</a>
              </td>
              <td class="em-c-table__cell " colspan="">
                <a [routerLink]="locker.id + '/edit'"><strong>Edit</strong></a>
                <a [routerLink]="locker.id + '/delete'" [queryParams]="{endpoint: '/lockers/' + locker.id, next: '/countries/' + countryId + '/sites/' + siteId + '/containers/' + containerId + '/lockers'}"><strong>Delete</strong></a>
              </td>
            </tr>
          </tbody>
          <tfoot class="em-c-table__footer">
            <tr class="em-c-table__footer-row">
            </tr>
          </tfoot>
        </table>
      </div>
    </div>
    <div class="em-c-table-object__footer">
        <div class="em-c-toolbar ">
          <div class="em-c-toolbar__item">
            <a [routerLink]="'add'">Add</a>
          </div>
        </div>
      </div>
  </div>
