<div class="em-c-page-header em-c-page-header--small">
  <h1 class="em-c-page-header__title">
      <a [routerLink]="'/countries/'">Storage</a>
    <a [routerLink]="'/countries/' + countryId + '/sites/'" *ngIf="country">{{country.name}}</a>
    <a [routerLink]="'/countries/' + countryId + '/sites/' + siteId + '/containers'"  *ngIf="site">{{site.name}}</a>
    <a [routerLink]="'/countries/' + countryId + '/sites/' + siteId + '/containers/' + containerId +'/lockers'"  *ngIf="container">{{container.name}}</a>
    <a class="active" *ngIf="locker">{{locker.name}}</a>
</h1>
</div>
<div class="em-c-table-object ">
  <div class="em-c-table-object__body">
    <div class="em-c-table-object__body-inner">
      <table class="em-c-table ">
        <thead class="em-c-table__header">
          <tr class="em-c-table__header-row">
            <th scope="col" class="em-c-table__header-cell ">Model name</th>
            <th scope="col" class="em-c-table__header-cell ">Serial Number</th>
            <th scope="col" class="em-c-table__header-cell ">Barcode Number</th>
            <th scope="col" class="em-c-table__header-cell ">Action</th>
          </tr>
        </thead>
        <tbody class="em-c-table__body ">
          <tr class="em-c-table__row " *ngFor="let unit of units">
            <td class="em-c-table__cell " colspan="">
              {{unit.item.name}}
            </td>
            <td class="em-c-table__cell " colspan="">
              {{unit.serialNumber}}
            </td>
            <td class="em-c-table__cell " colspan="">
              {{unit.barcode}}
            </td>
            <td class="em-c-table__cell " colspan="">
              <a [routerLink]="unit.id + '/unassign'" [queryParams]="{endpoint: 'units/' + unit.id + '/assign', next: currentLocation()}"><strong>Unassign</strong></a>
            </td>
          </tr>
        </tbody>
        <tfoot class="em-c-table__footer">
          <tr class="em-c-table__footer-row">
          </tr>
        </tfoot>
      </table>
    </div>
  </div>
  <div class="em-c-table-object__footer" id = "assignBtn">
      <div class="em-c-toolbar ">
        <div class="em-c-toolbar__item">
          <a [routerLink]="'add'">Assign item</a>
        </div>
      </div>
    </div>
</div>
