<div class="container">
        <div class="header">
          <div class="header-left">
              <div class="header-icon"></div>
              <div class="header-text">SMARTLOCKER</div>
          
          </div>
          <div class="header-right">
              <div class="identity-text">THAILAND</div>
              <div class="identity-text">HARINDHORN BUILDING</div>
              <div class="identity-text">80017</div>
          
          </div>
        </div>
        <!-- <div class="main" [routerLink]="'/browse-option'">
          <div class="main-text">Tap here to start browsing items</div>
        </div> -->
        <div class="main" [routerLink]="''">
          <div class="main-text" id = "ScanSerial">Scan your return item serial
          <div class="sub-text" id = "ScanSerial_sub"> Or tap to cancel</div>
      
          </div>
          <!-- <div><input type="password" ></div> -->
        </div>
      </div>