.item-name {
  margin-top: 4rem;
  h1 {
    font-size: 2rem;
    margin-bottom: 3rem;
    color: #333;
  }
}
.item-viewer {

  display: flex;
  .item-image-list {
    display: flex;
    flex-direction: column;
    .item-image {
      width: 75px;
      height: 75px;
      background-color: silver;
      margin-bottom: 1rem;
      flex: 0 0 auto;
      background-position: center center;
      background-size: contain;
      border: 1px solid #eee;
    }
  }
  .item-image-viewer {
    width: 500px;
    height: 500px;
    background-color: silver;
    margin-left: 1rem;
    flex: 0 0 auto;
    background-position: center center;
    background-size: cover;
    border: 1px solid #eee;

  }
  .item-detail {
    display: flex;
    flex-direction: column;
    margin-left: 1rem;
    .detail-group {
      display: flex;
      flex-direction: column;
      margin-bottom: 1.5rem;
      .detail-title {
        font-size: 0.7rem;
        color: rgb(139, 139, 139);
        font-weight: 500;
        line-height: 1rem;
      }
      .detail-body {
        font-weight: 500;
        color: #555;
      }
    }
  }
  .item-status {
    margin-left: 2rem;
    flex: 0 0 300px;
  }
}
