.item-name {
  margin-top: 4rem;
  h1 {
    font-size: 2rem;
    margin-bottom: 3rem;
    color: #333;
  }
}
.item-viewer {

  display: flex;
  .item-image-list {
    display: flex;
    flex-direction: column;
    .item-image {
      width: 75px;
      height: 75px;
      background-color: silver;
      margin-bottom: 1rem;
      flex: 0 0 auto;
      background-position: center center;
      background-size: contain;
      border: 1px solid #eee;
    }
  }
  .item-image-viewer {
    width: 500px;
    height: 500px;
    background-color: silver;
    margin-left: 1rem;
    flex: 0 0 auto;
    background-position: center center;
    background-size: cover;
    border: 1px solid #eee;

  }
  .item-detail {
    display: flex;
    flex-direction: column;
    margin-left: 1rem;
    .detail-group {
      display: flex;
      flex-direction: column;
      margin-bottom: 1.5rem;
      .detail-title {
        font-size: 0.7rem;
        color: rgb(139, 139, 139);
        font-weight: 500;
        line-height: 1rem;
      }
      .detail-body {
        font-weight: 500;
        color: #555;
      }
    }
  }
  .item-availability {
    margin-left: 2rem;
    flex: 1 1 auto;
    .availability-header {
      background: linear-gradient(to right,#007096, #00ACA8);
      padding: 1rem;
      color: white;
      .availability-title {
        font-weight: 500;
        line-height: 1.5rem;
      }
      .availability-country {
        font-size: 0.9rem;
        line-height: 1rem;
      }
      .availability-site {
        font-size: 0.9rem;
        line-height: 1rem;
      }
      .availability-container {
        font-size: 0.9rem;
        line-height: 1rem;
      }
    }
    .availability-list {
      display: flex;
      flex-direction: column;
      padding: 0.5rem 1rem;
      .list-container {
        display: flex;
        padding: 0.5rem 0;
        border-bottom: 1px solid #eee;
        .container-text {
          flex: 1 1 auto;
          .container-name {
            font-weight: 500;
          }
          .container-location {
            color: #888;
            text-transform: uppercase;
            font-size: 0.7rem;
            line-height: 1rem;
          }
        }
        .container-availability{
          font-weight: 500;
        }
      }
    }

  }
}
