<div class="container" *ngIf="item">
  <div class="item-image-list">
    <div class="item-image"></div>
    <div class="item-image"></div>
  </div>
  <div class="item-image-viewer"></div>
  <div class="item-detail">
    <div class="detail-group">
      <div class="detail-title">MODEL</div>
      <div class="detail-body">{{item.name}}</div>
    </div>
    <div class="detail-group">
        <div class="detail-title">CATEGORY</div>
        <div class="detail-body">{{item.categoryName}}</div>
      </div>
    <div class="detail-group">
      <div class="detail-title">SUBCATEGORY</div>
      <div class="detail-body">{{item.subcategoryName}}</div>
    </div>
    <div class="detail-group">
        <div class="detail-title">DURATION</div>
        <div class="detail-body">14 days</div>
      </div>
  </div>
  <div class="item-availability"></div>
</div>
