<div class="container item-name" *ngIf="item">
  <h1>{{item.item.name}}</h1>
</div>

<div class="container item-viewer" *ngIf="item">
  <div class="item-image-list">
    <div class="item-image" *ngFor="let image of item.item.images"
      [style.background-image]="'url(http://52.163.226.37/api/images/' + image + ')'"></div>
  </div>
  <div class="item-image-viewer" [style.background-image]="'url(http://52.163.226.37/api/images/' + activeImage + ')'">
  </div>
  <div class="item-detail">
    <div class="detail-group">
      <div class="detail-title">MODEL</div>
      <div class="detail-body">{{item.item.name}}</div>
    </div>
    <div class="detail-group">
      <div class="detail-title">CATEGORY</div>
      <!-- <div class="detail-body">{{item.item.categoryName}}</div> -->
    </div>
    <div class="detail-group">
      <div class="detail-title">SUBCATEGORY</div>
      <!-- <div class="detail-body">{{item.subcategoryName}}</div> -->
    </div>
    <div class="detail-group">
      <div class="detail-title">DURATION</div>
      <div class="detail-body">14 days</div>
    </div>
  </div>
  <div class="item-status">
      <app-availability [availability]="item.availability"></app-availability>
      <app-loan [loan]="loan" *ngFor="let loan of item.loans"></app-loan>
  </div>
</div>
