<div class="container item-name" *ngIf="item">
  <h1>{{item.item.name}}</h1>
</div>

<div class="container item-viewer" *ngIf="item">
  <div class="item-image-list">
    <div class="item-image" *ngFor="let image of item.item.images"
      [style.background-image]="'url(http://192.168.1.34:8080/api/images/' + image + ')'" (click)="setActiveImage(image)"></div>
  </div>
  <div class="item-image-viewer" [style.background-image]="'url(http://192.168.1.34:8080/api/images/' + activeImage + ')'">
  </div>
  <div class="item-detail">
    <div class="detail-group">
      <div class="detail-title">MODEL</div>
      <div class="detail-body">{{item.item.name}}</div>
    </div>
    <div class="detail-group">
      <div class="detail-title">CATEGORY</div>
      <div class="detail-body">{{item.item.category.name}}</div>
    </div>
    <div class="detail-group">
      <div class="detail-title">SUBCATEGORY</div>
      <div class="detail-body">{{item.item.subcategory.name}}</div>
    </div>
    <div class="detail-group">
      <div class="detail-title">DURATION</div>
      <div class="detail-body">{{item.item.defaultDuration | amDuration:'seconds'}}</div>
    </div>
  </div>
  <div class="item-status">
      <app-availability [availability]="item.availability" [item]="item.item"></app-availability>
      <app-loan [loan]="loan" *ngFor="let loan of item.loans"></app-loan>
  </div>
</div>
