<div class="header-container">
  <div class="global-navigation">
    <div class="container">
      <div class="user-container">
        <div class="user-profile"></div>
        <div class="user-name">{{username}} {{surname}}</div>
      </div>
    </div>
  </div>
  <div class="navigation-container">
    <div class="container">
      <div class="logo-container">
        <div class="logo-image"></div>
        <div class="logo-text">
          <div class="logo-title">SMART LOCKER</div>
          <div class="logo-subtitle">SELF-SERVICE</div>
        </div>

      </div>
      <div class="menu-container">
        <!-- <a routerLink="/my-dashboard" class="menu-item" [routerLinkActive]="['active']">My Dashboard</a> -->
        <a routerLink="/browse-items" class="menu-item" [routerLinkActive]="['active']">Browse Items</a>
      </div>
    </div>
  </div>

</div>
