<div class="em-c-page-header em-c-page-header--small">
  <h1 class="em-c-page-header__title">
      <a class="active">Storage</a>
    </h1>
</div>
<div class="em-c-table-object ">
  <div class="em-c-table-object__body">
    <div class="em-c-table-object__body-inner">
      <table class="em-c-table ">
        <thead class="em-c-table__header">
          <tr class="em-c-table__header-row">
            <th scope="col" class="em-c-table__header-cell ">Country Name</th>
            <th scope="col" class="em-c-table__header-cell ">Sites</th>
            <th scope="col" class="em-c-table__header-cell ">Action</th>
          </tr>
        </thead>
        <tbody class="em-c-table__body ">
          <tr class="em-c-table__row " *ngFor="let country of countries">
            <td class="em-c-table__cell " colspan="">
              {{country.name}}
            </td>
            <td class="em-c-table__cell " colspan="">
              <a [routerLink]="country.id + '/sites'">{{country.siteCount}} sites</a>
            </td>
            <td class="em-c-table__cell " colspan="">
              <a [routerLink]="country.id + '/edit'"><strong>Edit</strong></a>
              <a [routerLink]="country.id + '/delete'" [queryParams]="{endpoint: '/countries/' + country.id, next: currentLocation()}"><strong>Delete</strong></a>
            </td>
          </tr>
        </tbody>
        <tfoot class="em-c-table__footer">
          <tr class="em-c-table__footer-row">
          </tr>
        </tfoot>
      </table>
    </div>
  </div>
  <div class="em-c-table-object__footer">
    <div class="em-c-toolbar ">
      <div class="em-c-toolbar__item">
        <a [routerLink]="'add'">Add</a>
      </div>
    </div>
  </div>
</div>
