<h2>My items ({{loans.length}})</h2>
<div class="item-list-container">
  <div class="item-container" *ngFor="let loan of loans">
    <div class="item-image"></div>
    <div class="item-text">
      <div class="item-name">{{loan.item.name}}</div>
      <div class="item-category">{{loan.item.categoryName | uppercase}} / {{loan.item.subcategoryName | uppercase}}</div>
      <div class="item-location">HRH / {{loan.containerName}} / {{loan.lockerName}}</div>
      <div class="item-due">Due in {{loan.loanDate | amParse | amDifference: today :'seconds' : true | amDuration:'seconds'}}</div>
    </div>
  </div>
</div>
