<div class="option-page">
  <div class="topic-container">
    <div class="topic-title" id="Title">Report Issue</div>
    <div class="topic-sub" id="SubTitle">what is the problem?
      Scan Barcode to add Items
    </div>
    <!-- <div class="topic-sub">มีปัญหาไรครับ?</div> -->

  </div>
  <div class="option-wrapper">
    <div class="option-opacity-gradient"></div>
    <div class="option-container">
      <!-- <div class="option" [routerLink]="'/category-option'"> -->
      <!-- <div class="option">
          <div class="option-text">
            <div class="text-main">No item in a locker</div>
          </div>
        </div> -->
      <div class="option">
        <div class="option-text">
          <div class="text-main" style="color:rgb(182, 182, 182)" id="ItemIssue">Item has an issue (Not Available)</div>
        </div>
      </div>
      <div class="option" [routerLink]="'/emergency-return'">
      <!-- <div class="option" > -->
        <div class="option-text">
          <div class="text-main" id="ItemIsThere">Item is there, But can't Borrow</div>
        </div>
      </div>
      <div class="option" [routerLink]="'/add-User'">
        <!-- <div class="option" > -->
          <div class="option-text">
            <div class="text-main" id="addUser">Add User</div>
          </div>
        </div>
      
    </div>
  </div>
</div> 