<div class="option-page">
    <div class="topic-container">
      <div class="topic-title">Report Issue</div>
      <div class="topic-sub">what is the problem?</div>
    </div>
    <div class="option-wrapper">
      <div class="option-opacity-gradient"></div>
      <div class="option-container">
        <!-- <div class="option" [routerLink]="'/category-option'"> -->
        <div class="option">
          <div class="option-text">
            <div class="text-main">No item in a locker</div>
          </div>
        </div>
        <div class="option" >
          <div class="option-text">
            <div class="text-main">Item has an issue</div>
          </div>
        </div>
        <!-- <div class="option" >
            <div class="option-text">
              <div class="text-main">Cannot Borrow Items</div>
            </div>
          </div> -->
      </div>
    </div>
  </div>