<div class="em-c-page-header ">
  <h1 class="em-c-page-header__title" *ngIf="lockerId == null">Add Locker </h1>
  <h1 class="em-c-page-header__title" *ngIf="lockerId != null">Edit Locker </h1>
  <p class="em-c-page-header__desc"></p>
</div>
<div class="em-l--two-column" *ngIf="lockerId == null || locker != null">
  <div class="em-l__main">
    <div class="em-l-linelength-container">
      <form action="#" method="post" class="em-js-form" validate>
        <fieldset class="em-c-fieldset">
          <!-- <legend class="em-c-fieldset__legend">Legend</legend> -->
          <div class="em-c-field ">
            <label for="file" class="em-c-field__label">Locker Name</label>
            <div class="em-c-field__body">
              <input type="" id="file" class="em-c-input" [(ngModel)]="locker.name" name="locker-name" required />
            </div>
          </div>

          <div class="em-c-btn-group ">
            <button class="em-c-btn em-c-btn--primary">
              <span class="em-c-btn__text" (click)="submitForm()">Submit</span>
            </button>
            <a [routerLink]="'../../'" class="em-c-btn em-c-btn--secondary">
              <span class="em-c-btn__text">Cancel</span>
            </a>
          </div>
        </fieldset>
      </form>
    </div>
  </div>
  <div class="em-l__secondary">
  </div>
</div>
