<div class="category-container">
  <div class="category-header">Category</div>
  <div class="category-item">
      <div class="category-link" [ngClass]="{'active': activeCategoryId == -1 && activeSubcategoryId == -1}" (click)="addCategoryParams(-1); addSubcategoryParams(-1)">All</div>
  </div>
  <div class="category-item" *ngFor="let category of categories">
    <div class="category-link" (click)="addCategoryParams(category.id)" [ngClass]="{'active': activeCategoryId == category.id}">{{category.name}}</div>
    <div class="subcategory-container" *ngFor="let subcategory of category.subcategories">
        <div class="subcategory-link" (click)="addSubcategoryParams(subcategory.id)" [ngClass]="{'active': activeSubcategoryId == subcategory.id}">{{subcategory.name}}</div>
    </div>
  </div>
</div>
