<div class="item-loan" *ngIf="loan">
  <div class="loan-header">
    <div class="loan-title">Loan</div>
  </div>
  <div class="loan-detail">
    <div class="detail-item">
      <div class="detail-title">Loan date</div>
      <div class="detail-body">{{loan.loanDate | amLocale:'en' | amDateFormat:'MMMM Do YYYY, h:mm:ss a'}}</div>
    </div>
    <div class="detail-item">
        <div class="detail-title">Due date</div>
        <div class="detail-body">{{loan.dueDate | amLocale:'en' | amDateFormat:'MMMM Do YYYY, h:mm:ss a'}}</div>
        <div class="detail-due">{{loan.dueDate | amParse | amTimeAgo}}</div>
      </div>
  </div>
</div>
