.item-loan {
  margin-left: 2rem;
  flex: 0 0 300px;

  .loan-header {
    background: linear-gradient(to right,#007096, #00ACA8);
    padding: 1rem;
    color: white;
    .loan-title {
      font-weight: 500;
      line-height: 1.5rem;
    }
    .loan-country {
      font-size: 0.9rem;
      line-height: 1rem;
    }
    .loan-site {
      font-size: 0.9rem;
      line-height: 1rem;
      &.disabled {
        opacity: 0.5;
        pointer-events: none;
      }
    }
    .loan-container {
      font-size: 0.9rem;
      line-height: 1rem;
    }

    select {
      border: none;
      background: none;
      color: white;
      font-family: EMPrint;
      padding: 0;
      option {
        color: black;
      }
    }
  }
  .loan-detail {
    display: flex;
    flex-direction: column;
    padding: 1.5rem 1rem;
    border: 1px solid #eee;
    .detail-item {
      & + .detail-item {
        margin-top: 2rem;
      }
      .detail-title {
        color: #999;
        text-transform: uppercase;
        font-size: 0.7rem;
        line-height: 1rem;
        margin-bottom: 0.2rem;
      }
      .detail-body {
        font-weight: 500;

      }
      .detail-due {
        display: inline-block;
        text-transform: uppercase;
        font-weight: 400;
        font-size: 0.75rem;
        background-color: darkred;
        color: white;
        margin-top: 0.25rem;
        padding: 0.35rem 0.75rem;
        border-radius: 50px;
      }
    }
  }
}
